.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Greyight-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
.header {
  height: 7rem;
  background-color: #fff;
  border: 1px solid var(--color-Greyight-2);
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-Greydark-1);
  flex: 0 0 18%;
}
.hotel-view {
  background: #fff;
  background: orangered;
  flex: 1;
}
